@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #212d40ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Roboto Mono', sans-serif;
}

.searchBar{
  font-family: 'Roboto Mono', sans-serif;
  width: 80%;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px 15px;

  @media screen and (max-width: 400px){
    display:none;
  }
}
input {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
  margin-right: 10px;
  outline: none;
  border: none;
}

button {
  font-family: 'Roboto Mono', sans-serif;
  color: white;
  font-size: 14px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*Second Page*/
.Questions{
  width: 40%;
  display: flex;
  /* background-color: yellow; */
  text-align: center;
  
  @media screen and (max-width: 600px){
    display:block;
    text-align:center;
  }
}

.FillUps{
  width: 60%;
  @media screen and (max-width: 480px){
    width:100%;
  }
}
.Second{
  display: flex;
  width: 50%;
  float: left;
}
